.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

textarea {
  font-size: 16px;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
